accelerate
argh
dacite
datasets[vision]
demucs
diffusers>=0.14.0
flask
flask_cors
ftfy
Jinja2
jupyter
librosa
matplotlib
numpy
pillow>=9.1.0
plotly
pydub
pysoundfile
scipy
sox
streamlit>=1.10.0
tensorboard==2.12.2
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
transformers
triton
wandb
xformers==0.0.21
