accelerate
argh
dacite
datasets
datasets[vision,audio]
demucs
diffusers>=0.14.0
flask
flask_cors
ftfy
Jinja2
jupyter
librosa
matplotlib
numpy
pillow>=9.1.0
plotly
pydub
pysoundfile
scipy
sox
streamlit>=1.10.0
tensorboard==2.12.2
torch
torchaudio
torchvision
transformers>=4.25.1
triton
xformers
