resources:
  # Optional; if left out, automatically pick the cheapest cloud.
  infra: lambda/us-west-2
  # 1x NVIDIA A100 GPU
  accelerators: A100:1
  autostop:
    idle_minutes: 5
    down: true

file_mounts:
  /data:
    source: s3://signal-diffusion/
    mode: MOUNT
  ~/.netrc: ~/.netrc
  ~/.aws: ~/.aws
  ~/.cache/huggingface/token: ~/.cache/huggingface/token

# Working directory (optional) containing the project codebase.
# Its contents are synced to ~/sky_workdir/ on the cluster.
workdir: .

# Typical use: pip install -r requirements.txt
# Invoked under the workdir (i.e., can use its files).
setup: |
  echo "Running setup."
  curl -LsSf https://astral.sh/uv/install.sh | sh
  uv venv --python=3.12
  uv pip install "torch>=2.8,<2.9"
  uv sync --extra gpu
  # Once NATTEN is built, store it to /data for future use.
  # ./install-natten.sh
  # cp -r NATTEN /data/NATTEN
  # If NATTEN is already built, install it from /data.
  # uv pip install -e /data/NATTEN

# Typical use: make use of resources, such as running training.
# Invoked under the workdir (i.e., can use its files).
run: |
  echo "Hello, SkyPilot!"
  export MODEL=hourglass
  export DATASET=db_iq
  export RUN_ID=$(date +%Y%m%d_%H%M%S)
  source .venv/bin/activate
  ./scripts/prep-configs-for-sky.sh
  ./scripts/test_configs.sh 2>&1 | tee /data/logs/test_configs_${RUN_ID}.log
  echo "Run completed."
