# Example configuration for multi-task classifier training.
[settings]
config = "~/git/signal-diffusion/config/default.toml"
trainer = "diffusion"

[data]
output_type = "db-only"
data_type = "spectrogram"

[dataset]
name = "/data/data/signal-diffusion/processed/reweighted_meta_dataset_log_n2048_fs125"
train_split = "train"
val_split = "val"
batch_size = 32
num_workers = 4
resolution = 64
center_crop = false
random_flip = false
image_column = "image"
caption_column = ""
num_classes = 0

[model]
name = "dit"
sample_size = 32
conditioning = "none" # none, caption, classes

[model.extras]
num_attention_heads = 16
attention_head_dim = 72
in_channels = 3
out_channels = 3
num_layers = 12
patch_size = 2
latent_space = false
num_classes = 0
cfg_dropout = 0.1

[model.lora]
enabled = false

[objective]
prediction_type = "vector_field"
num_timesteps = 1000

[optimizer]
name = "adamw"
learning_rate = 1e-4
weight_decay = 1e-4
betas = [0.9, 0.999]

[scheduler]
name = "constant_with_warmup"
warmup_steps = 100

[training]
seed = 42
epochs = 1
mixed_precision = "bf16"
gradient_checkpointing = false
gradient_accumulation_steps = 1
gradient_clip_norm = 1.0
snr_gamma = 5.0

log_every_steps = 10
checkpoint_interval = 1000
checkpoint_total_limit = 3

eval_strategy = "steps" # or "epoch"
eval_num_steps = 100
eval_num_examples = 8
eval_mmd_samples = 100
eval_mmd_fallback_ntrain = 1000

ema_use_warmup = true
ema_inv_gamma = 1 # always 1
ema_power = 0.75 # 0.75 reaches decay 0.999 ~10k steps, 0.667 ~30k steps
ema_decay = 0.999 # if use_warmup=false
ema_update_after_step = 1000 # if use_warmup=false

[logging]
tensorboard = true
run_name = "baseline"
log_dir = "runs/diffusion/tensorboard/base"
# wandb_project = "your-project-name"


[inference]
denoising_steps = 25
cfg_scale = 3.5
